/* CSS files add styling rules to your content */
/*
  The page supports both dark and light color schemes,
  and the page author prefers dark.
*/
:root {
  color-scheme: dark light;
}
* {
  line-height: 3em;
}
body {
  font-family: sans-serif;
}

main,
header {
  display: flex;
  align-items: center;
  justify-content: center;
}

.timetable {
}
.timetable > .name {
  text-align: center;
}
.subject .links {
  display: none;
}
.subject:focus .links,
.subject:focus-within .links {
  display: block;
}
summary:first-letter,
.name:first-letter {
  text-transform: uppercase;
}
