/* CSS files add styling rules to your content */
* {
  box-sizing: border-box;
}
body {
  font-family: helvetica, arial, sans-serif;
  margin: 2em;
}

.timetable {
}
.timetable > .name {
  text-align: center;
}
.day {
  display: inline-block;
  margin: 0.8em;
  padding: 0.2em;
}
.day.selected {
  border: 1px dotted blue;
}
.day.selected {
  background-color: yellow;
}
.day > .name {
  color: blue;
  margin-bottom: 1em;
}
.subject .links {
  display: none;
}
.subject:focus .links,
.subject:focus-within .links {
  display: block;
}
.name:first-letter {
  text-transform: uppercase;
}
.name {
  border: 1px solid red;
  padding: 0.4em;
}
